@import "./colors.scss";

.header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid $secondary;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    
    h1 {
        font-size: 1.1rem;
        margin: 0;
        color: $dark;
    }

    button {
        background: $important;
        color: white;
    }
}

.form {
    width: 100%;
    padding: 2rem;   


    
    textarea {
        height: 10rem;
        width: 100%;
        border: 1px solid #ccc;
        outline: none;
        padding: .5rem;
        color: #444;

        &:focus {
            border-color: $secondary;
        }

    }
}

.feed {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    img {
        max-width: 100%;
    }   
}