@import "./colors.scss";

.Card {
  @include polaroid;
}

.Image {
  @include image;
}

.Header {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.Username {
  color: $primary;
}

.Date {
  color: $accent-color;
}

.Text {
  margin-bottom: 1.5rem;
}

.Likes {
  @include primary-button;
}

.Liked {
  color: $important;
}
