@import "./colors.scss";

.Card {
  @include polaroid;
}

.Image {
  @include image;
}

.Header {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.Username {
  color: $primary;
}

.Date {
  color: $accent-color;
}

.Text {
  margin-bottom: 1.5rem;
}

.Likes {
  @include secondary-button;
}

.Liked {
  color: $important;
}

.CommentsButton {
  background: transparent;
  color: $primary;


  &:hover {
    text-decoration: underline;
    color: $dark;
  }
}

.Input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid $grey;
  padding: .5rem;
  border-radius: 18px;

  &:focus {
    outline: none;
    border-color: $primary;
  }
}
