@import "./colors.scss";

.Container {
  @include container;
}

.Form {
  @include polaroid;
}

.Upload {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.UploadInputs {
  display: flex;
  justify-content: space-between;
}

.Image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.Comment {
  height: 10rem;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 0.5rem;
  color: #444;
  resize: vertical;
  margin-bottom: 1rem;

  &:focus {
    border-color: $secondary;
  }
}

.Submit {
  @include primary-button;
}
