@import "./colors.scss";

.Form {
  width: 100%;
  padding: 2rem;

  textarea {
    height: 10rem;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5rem;
    color: #444;

    &:focus {
      border-color: $secondary;
    }
  }
}
