@import "./colors.scss";
@import "./mixins.scss";

.Header {
  width: 100%;
  background-color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.Title {
  font-size: 1.1rem;
  margin: auto;
  padding: 0;
  color: $dark;
}

.Logo {
  max-width: 600px;
  max-height: 1.1rem;
  display: block;
  margin: auto;
}

.Logout {
  @include ghost-button;
  padding: 0;
}
