@import "./colors.scss";

@mixin container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 0;
}

@mixin primary-button {
  background: $primary;
  color: white;

  &:hover {
    background: $secondary;
  }
}

@mixin secondary-button {
  background: $light;
  color: $primary;

  &:hover {
    background: $primary;
    color: white;
  }
}

@mixin ghost-button {
  background: transparent;
  color: $primary;
  outline: none;

  &:hover {
    text-decoration: underline;
    color: $dark;
  }

  &:focus, &:active {
    text-decoration: none;
  }
}

@mixin image {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}
